/* body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
} */

main{
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 64px;  

}

section{
    padding: 16px;
    background-color: aliceblue;
    border-radius: 6px;
}


.section-celcius{
    padding-top: 16px;
}
.section-fahrenheit{
    padding-top: 16px;
}
.section-result{
    padding-top: 16px;
}
.section-explanation{
    padding-top: 16px;
}

textarea{
    width: 75%;
    height: 32px;
}

.formula-s{
    font-size: 20px;
    font-style: italic;
}

.formula-s>sub {
    font-style: normal;
}

textarea{
    width: 100%;
    resize: none;
    border: 2px solid lavenderblush;
    border-radius: 4px;
    font-size: 16px;
    color: coral;
}

.container-button{
    margin-top: 8px;
}

button{
    border: none;
    font-size: 14px;
    padding: 8px;
    border-radius: 4px;
    font-family: arial;

}

#button-convert{
    background-color: forestgreen;
    color: white;
    margin-right: 8px;
}
#button-reset{
    background-color: blueviolet;
    color: white;
    margin-right: 8px;
    
}
#button-reverse{
    background-color: forestgreen;
    color: white;
    
}